Importar o pandas

In [1]:
import pandas as pd

DATAFRAME = Tabela

In [4]:
livrosVendas = {'nomeLivro':['Logica de Programação','Livros de Python'], 
               'valor':[145, 240],
               'estoque': [500,350]}

livrosVendas_df = pd.DataFrame(livrosVendas)

#print
#print(livrosVendas_df)
display(livrosVendas_df)

               nomeLivro  valor  estoque
0  Logica de Programação    145      500
1       Livros de Python    240      350