## Lista

In [5]:
lista = [1, 2, 3]
listaTexto = ['Ana', 'Bia', 'Andre']

## Matriz

In [3]:
matriz = [[1,2,3],
          [4,5,6],
          [7,8,9]]

Importando o Pandas

In [4]:
import pandas as pd
matriz_df = pd.DataFrame(matriz)
display(matriz_df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Dicion√°rio

In [14]:
dict_produto = {'Limpeza': ['Sabonete', 'Perfume', 'Shampoo'], 'Cereal':['Arroz', 'Feijao', 'Macarrao']}
dict_df = pd.DataFrame(dict_produto)
display(dict_df)

    Limpeza    Cereal
0  Sabonete     Arroz
1   Perfume    Feijao
2   Shampoo  Macarrao

##Metodo ndim()
Retorna as dimensoes de uma tabela, matriz, lista...

In [8]:
import numpy as np

lista_np = np.array([1, 45, 85, 78, 96])
numeroDimensoes = lista_np.ndim

print(numeroDimensoes)

matriz_np = np.array([[1,2,3],[4,5,6],[7,8,9]])
matrizDimensoes = matriz_np.ndim
print(matrizDimensoes)

1
2

## Size ()
Conta o numero de elementos/registros da tabela

In [10]:
listaB = np.array([1, 45, 85, 78, 96])
print(np.size(listaB))

matrizB = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(np.size(matrizB))

5
9

## M√©todo shape()
Conta a quantidade de linhas e colunas

In [13]:
matriz = [[1,2,3],[4,5,6],[7,8,9]]

numeroLinhasColunas = np.shape(matriz)
print(numeroLinhasColunas)

(3, 3)

##M√©todos mean() median() mode()

In [16]:
#M√©dia Aritmetica
import statistics as sta

listaC = [1,2,8,9,35,4]
mediaListaC = sta.mean(listaC)
print("Media da Lista C √©:", mediaListaC)

Media da Lista C √©: 9.833333333333334

In [20]:
from statistics import mean
from fractions import Fraction as fr

db1 = (11,2,20,35,8,9,15)
db2 = (-1,-8,-9,-12,-6,-5)
db3 = (8,7,9,-6,-4,-8)
db4 = (fr(1,2), fr(44,12), fr(10,3), fr(4,2))
db5 = {1:"um", 2:"dois", 3:"tres"}

print("A m√©dia do conjunto de dados 1 √© %s" %(mean(db1)))
print("A m√©dia do conjunto de dados 2 √© %s" %(mean(db2)))
print("A m√©dia do conjunto de dados 3 √© %s" %(mean(db3)))
print("A m√©dia do conjunto de dados 4 √© %s" %(mean(db4)))
print("A m√©dia do conjunto de dados 5 √© %s" %(mean(db5)))

A m√©dia do conjunto de dados 1 √© 14.285714285714286
A m√©dia do conjunto de dados 2 √© -6.833333333333333
A m√©dia do conjunto de dados 3 √© 1
A m√©dia do conjunto de dados 4 √© 19/8
A m√©dia do conjunto de dados 5 √© 2