In [5]:
import pandas as pd

covid = pd.read_csv("/content/HIST_PAINEL_COVIDBR_2022_Parte2_22set2022 (1).csv", sep = ';')
covid_df = pd.DataFrame(covid)
display(covid_df)

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-01,26,210147125.0,32434063,76045,671700,284,30873682.0,888681.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-02,26,210147125.0,32471847,37784,671858,158,30880584.0,919405.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-03,27,210147125.0,32490422,18575,671911,53,30906575.0,911936.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-04,27,210147125.0,32535923,45501,672033,122,30967114.0,896776.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-07-05,27,210147125.0,32610514,74591,672429,396,31039055.0,899030.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471991,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-18,38,3015268.0,838413,0,11825,0,NaN,NaN,1.0
471992,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-19,38,3015268.0,838501,88,11825,0,NaN,NaN,1.0
471993,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-20,38,3015268.0,838530,29,11828,3,NaN,NaN,1.0
471994,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-21,38,3015268.0,838573,43,11829,1,NaN,NaN,1.0
471995,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-22,38,3015268.0,838619,46,11829,0,NaN,NaN,1.0

In [6]:
#Salvar/exportar a Planilha no computador

covid.to_csv("Minha tabela COVID.csv")

In [7]:
#Ultimas 5 linhas da tabela (tail = cauda) -> default (mas pode dizer quantas linhas quer no parenteses)
covid.tail()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
471991,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-18,38,3015268.0,838413,0,11825,0,NaN,NaN,1.0
471992,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-19,38,3015268.0,838501,88,11825,0,NaN,NaN,1.0
471993,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-20,38,3015268.0,838530,29,11828,3,NaN,NaN,1.0
471994,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-21,38,3015268.0,838573,43,11829,1,NaN,NaN,1.0
471995,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-09-22,38,3015268.0,838619,46,11829,0,NaN,NaN,1.0

In [8]:
covid.index

RangeIndex(start=0, stop=471996, step=1)

In [9]:
#Ver o nome das colunas
covid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [15]:
#Selecionar dados 
covid[['estado', 'municipio', 'casosNovos', 'obitosNovos']]

       estado municipio  casosNovos  obitosNovos
0         NaN       NaN       76045          284
1         NaN       NaN       37784          158
2         NaN       NaN       18575           53
3         NaN       NaN       45501          122
4         NaN       NaN       74591          396
...       ...       ...         ...          ...
471991     DF  Brasília           0            0
471992     DF  Brasília          88            0
471993     DF  Brasília          29            3
471994     DF  Brasília          43            1
471995     DF  Brasília          46            0

[471996 rows x 4 columns]

Warning: total number of rows (471996) exceeds max_rows (20000). Limiting to first (20000) rows.