## Lista

In [5]:
lista = [1, 2, 3]
listaTexto = ['Ana', 'Bia', 'Andre']

## Matriz

In [3]:
matriz = [[1,2,3],
          [4,5,6],
          [7,8,9]]

Importando o Pandas

In [4]:
import pandas as pd
matriz_df = pd.DataFrame(matriz)
display(matriz_df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

Dicionário

In [14]:
dict_produto = {'Limpeza': ['Sabonete', 'Perfume', 'Shampoo'], 'Cereal':['Arroz', 'Feijao', 'Macarrao']}
dict_df = pd.DataFrame(dict_produto)
display(dict_df)

    Limpeza    Cereal
0  Sabonete     Arroz
1   Perfume    Feijao
2   Shampoo  Macarrao

##Metodo ndim()
Retorna as dimensoes de uma tabela, matriz, lista...

In [8]:
import numpy as np

lista_np = np.array([1, 45, 85, 78, 96])
numeroDimensoes = lista_np.ndim

print(numeroDimensoes)

matriz_np = np.array([[1,2,3],[4,5,6],[7,8,9]])
matrizDimensoes = matriz_np.ndim
print(matrizDimensoes)

1
2

## Size ()
Conta o numero de elementos/registros da tabela

In [10]:
listaB = np.array([1, 45, 85, 78, 96])
print(np.size(listaB))

matrizB = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(np.size(matrizB))

5
9

## Método shape()
Conta a quantidade de linhas e colunas

In [13]:
matriz = [[1,2,3],[4,5,6],[7,8,9]]

numeroLinhasColunas = np.shape(matriz)
print(numeroLinhasColunas)

(3, 3)

##Métodos mean() median() mode()

In [16]:
#Média Aritmetica
import statistics as sta

listaC = [1,2,8,9,35,4]
mediaListaC = sta.mean(listaC)
print("Media da Lista C é:", mediaListaC)

Media da Lista C é: 9.833333333333334

In [20]:
from statistics import mean
from fractions import Fraction as fr

db1 = (11,2,20,35,8,9,15)
db2 = (-1,-8,-9,-12,-6,-5)
db3 = (8,7,9,-6,-4,-8)
db4 = (fr(1,2), fr(44,12), fr(10,3), fr(4,2))
db5 = {1:"um", 2:"dois", 3:"tres"}

print("A média do conjunto de dados 1 é %s" %(mean(db1)))
print("A média do conjunto de dados 2 é %s" %(mean(db2)))
print("A média do conjunto de dados 3 é %s" %(mean(db3)))
print("A média do conjunto de dados 4 é %s" %(mean(db4)))
print("A média do conjunto de dados 5 é %s" %(mean(db5)))

A média do conjunto de dados 1 é 14.285714285714286
A média do conjunto de dados 2 é -6.833333333333333
A média do conjunto de dados 3 é 1
A média do conjunto de dados 4 é 19/8
A média do conjunto de dados 5 é 2

##Lendo Arquivos em .csv

In [22]:
import pandas as pd

jogadores = pd.read_csv('/content/Jogadores.csv')

display(jogadores)

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará

In [27]:
# Cinco primeiros Registros
display(jogadores.head())

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias

In [28]:

# Numero de Linhas e Colunas
print(jogadores.shape)

(9, 7)

In [35]:

# Descrição dos jogadores - describe
jogadores = pd.read_csv('/content/Jogadores.csv')
jogadores_df = pd.DataFrame(jogadores)
display(jogadores_df.describe())

       Altura em cm  \nPeso em kg  Data de nascimento do jogador
count      9.000000      9.000000                       9.000000
mean       1.737778     83.222222                    1973.000000
std        0.059954     21.603112                      24.703239
min        1.660000     63.000000                    1933.000000
25%        1.690000     68.000000                    1953.000000
50%        1.730000     80.000000                    1980.000000
75%        1.780000     90.000000                    1992.000000
max        1.820000    130.000000                    1996.000000

In [26]:
#Média de altura dos jogadores

jogadores['Altura em cm'].mean()

1.7377777777777776

In [30]:
#Maior Altura

jogadores['Altura em cm'].max()

1.82

In [31]:
#Menor Altura

jogadores['Altura em cm'].min()

1.66

In [32]:
# Time que mais jogadores participaram

jogadores['Time que o jogador participou'].value_counts()

Cruzeiro         2
Santos           1
Grêmio           1
Bauru            1
São Bernardo     1
Pau Grande       1
Flamengo         1
Palmeiras        1
Name: Time que o jogador participou, dtype: int64

In [33]:
#Ordenação pelo Peso (menor pro maior)

jogadores.sort_values(by = '\nPeso em kg')

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro

In [36]:
# Selecionar uma linha

display(jogadores_df.loc[1:1])

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul

In [37]:
# Selecionar uma série

display(jogadores_df.loc[3])

Nome completo do jogador         Edson Arantes do Nascimento
Altura em cm                                            1.73
\nPeso em kg                                              80
Time que o jogador participou                          Bauru
Data de nascimento do jogador                           1940
Cidade onde o jogador nasceu.                 Três Corações
Estado onde o jogador nasceu                   Minas Gerais
Name: 3, dtype: object

##Funções

In [40]:
#Criando nova coluna e populando com o calculo do IMC
jogadores['IMC'] = jogadores['\nPeso em kg'] / (jogadores['Altura em cm'] **2)
display(jogadores)

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu,IMC
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo,22.204082
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul,30.189591
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro,39.246468
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais,26.729927
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias,21.461937
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias,22.862534
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro,29.760863
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro,30.421850
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará,23.306680

##Exercicios:

In [41]:

jogadores2 = pd.read_csv('/content/Jogadores2.xlsx.csv')
jogadores2_df = pd.DataFrame(jogadores2)

display(jogadores2)

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará

In [44]:
#Média da Altura

jogadores2['Altura em cm'].mean()

1.7377777777777776

In [45]:
#Media peso
jogadores2['\nPeso em kg'].mean()

83.22222222222223

In [46]:
#Maior Altura
jogadores2['Altura em cm'].max()

1.82

In [47]:

#Maior peso
jogadores2['\nPeso em kg'].max()

130

In [48]:

#Menor Altura
jogadores2['Altura em cm'].min()

1.66

In [49]:

#Menor peso
jogadores2['\nPeso em kg'].min()

63

In [51]:
# Estado que nasceu maior numero de jogadores

jogadores2['Cidade onde o jogador nasceu.'].value_counts()

Rio de Janeiro      2
Goiânia             2
Mogi das Cruzes     1
Portp Alegre        1
Três Corações       1
Magé                1
Magalhães Barata    1
Name: Cidade onde o jogador nasceu., dtype: int64

In [52]:
#Nova coluna com razao peso/altura

jogadores2['novaColuna'] = jogadores['\nPeso em kg'] / jogadores['Altura em cm']
display(jogadores2)

,Nome completo do jogador,Altura em cm,\nPeso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu,novaColuna
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo,38.857143
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul,54.945055
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro,71.428571
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais,46.242775
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias,38.202247
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias,37.951807
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro,50.295858
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro,52.325581
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará,38.922156